<div class="container-fluid">
  <div class="card">
    <form [formGroup]="customerForm" (ngsubmit)="addCustomer(customerForm.value)">
      <div class="p-4">
        <div class="d-flex">
          <div class="form-group col-sm-3">
            <label class=" col-form-label sr-only" for="custid">
              customer id
            </label>
            <div>
              <input type="text" class="form-control" id="custid" placeholder="Customer ID" formControlName="customerid">
            </div>
            <small class="form-text text-danger" *ngIf="customerForm.get('customerid').errors && customerForm.get('customerid').touched">Please enter the customer id</small>
          </div>
          <div class="form-group  col-sm-3">
            <label class="col-form-label sr-only" for="name">
              Customer Name
            </label>
            <div>
              <input type="text" class="form-control" id="name" placeholder="Customer Name" formControlName="customername">
            </div>
            <small class="form-text text-danger" *ngIf="customerForm.get('customername').errors && customerForm.get('customername').touched">Please enter the customer name</small>
          </div>
          <div class="form-group  col-sm-3">
            <label class="col-form-label sr-only" for="address">
              address
            </label>
            <div>
              <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
            </div>
            <small class="form-text text-danger" *ngIf="customerForm.get('address').errors && customerForm.get('address').touched">Please enter the customer address</small>
          </div>
          <div class="form-group  col-sm-3">
            <label class="col-form-label sr-only" for="contact">
              contact
            </label>
            <div>
              <input type="text" class="form-control" id="contact" placeholder="Contact Number" formControlName="contactno">
            </div>
            <small class="form-text text-danger" *ngIf="customerForm.get('contactno').errors && customerForm.get('contactno').touched">Please enter the contact no</small>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group  col-sm-3">
            <label class="col-form-label sr-only" for="email">
              email
            </label>
            <div>
              <input type="text" class="form-control" id="custid" placeholder="Email" formControlName="email">
            </div>
            <small class="form-text text-danger" *ngIf="customerForm.get('email').errors && customerForm.get('email').touched">Please enter the emailid</small>
          </div>
          <div class="form-group  col-sm-3">
            <label class="col-form-label sr-only" for="product id">
              product id
            </label>
            <div>
              <input type="text" class="form-control" id="custid" placeholder="Product Id" formControlName="productid">
            </div>
            <small class="form-text text-danger" *ngIf="customerForm.get('productid').errors && customerForm.get('productid').touched">Please enter the product id</small>
          </div>
          <div class="form-group  col-sm-3">
            <label class="col-form-label sr-only" for="price">
              price
            </label>
            <div>
              <input type="text" class="form-control" id="price" placeholder=" Price" formControlName="price">
            </div>
            <small class="form-text text-danger" *ngIf="customerForm.get('price').errors && customerForm.get('price').touched">Please enter the price</small>
          </div>
          <div class="form-group col-sm-3">
            <label class=" col-form-label sr-only" for="qty">
              quantity
            </label>
            <div>
              <input type="text" class="form-control" id="qty" placeholder="Quantity" formControlName="quantity">
            </div>
            <small class="form-text text-danger" *ngIf="customerForm.get('quantity').errors && customerForm.get('quantity').touched">Please enter the quantity</small>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label class=" col-form-label sr-only" for="productdesc">
            Product Description
          </label>
          <div class="d-flex">
            <textarea placeholder="Product Description" class="form-control" formControlName="productdescription"></textarea>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-2 mr-3">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <div *ngFor="let product of x | async"> -->
<div>data{{x |json}}</div>
<!-- </div> -->
