
<div class="side-nav" id="nav">
  <li>
    <div (click)="sidenav()">
      <mat-icon>menu</mat-icon>
    </div>
  </li>
  <li>
    <mat-icon>supervisor_account</mat-icon>
    <p>Customer</p>
  </li>
  <li>
    <mat-icon>add_shopping_cart</mat-icon>
    <p>Products</p>
  </li>
  <li>
    <mat-icon>insert_chart</mat-icon>
    <p>Dashboard</p>
  </li>
  <li>
    <mat-icon>launch</mat-icon>
    <p>Log Out</p>
  </li>
</div>
<div>


  <div class="card toolbar">
    ggg
  </div>




  <router-outlet></router-outlet>
</div>
