<div class="container-fluid">
  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Customer id</th>
          <th scope="col">Name</th>
          <th scope="col">Product</th>
          <th scope="col">price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of [0,0,0]">
          <th scope="row">1</th>
          <td>11</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td class="align-button">
            <a [routerLink]="['/products/product-list']" routerLinkActive="router-link-active" ><button class="btn  btn-success">more details</button></a>

          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
